<div class="players">

	<div>
		<select class="w3-dropdown-hover" ng-model ="orderByGame" ng-options="game.name for game in games">
			
		</select>
	</div>
	
	
	

    <form ng-submit="enterPress(searchText)">
        <p> Search: <input ng-model="searchText">
            <submit></submit>
        </p>
    </form>

    <div class="w3-third w3-container w3-margin-bottom">
        <ul class="playerBox">
            <li class="playerInList" ng-repeat="player in players | filter:{'game': {'name': orderByGame.name}} | filter: searchText" >
            {{player.game.name}}
                <a ui-sref-active="active" ui-sref="players.player({ playerName: player.name.split(' ').join('+')})">{{player.name}}</a>
                <img class="w3-hover-opacity" style="width:25%"  ui-sref="players.player({ playerName: player.name.split(' ').join('+')})" src="{{player.p_img}}"/>
                <a ng-show="auth.$getAuth()" href="" ng-click="deletePlayer(player)">X</a>

            </li>
        </ul>
    </div>
    <ui-view></ui-view>


</div>